/*Font*/

@font-face {
    font-family: 'fugazOne';
    src: url(../font/FugazOne-Regular.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'montaukBold';
    src: url(../font/MontaukBold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'montaukItalic';
    src: url(../font/MontaukItalic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'montaukLight';
    src: url(../font/MontaukLight.ttf);
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'montaukRegular';
    src: url(../font/MontaukRegular.ttf);
    font-style: normal;
    font-weight: normal;
}

/*Header and Logo*/

body, .navbar {
    background-image: url('../image/bgtexture.jpg');
}

.navText {
    font-family: fugazOne;
    font-size: 20px;
    list-style: none;
    color: #5F002B;
}

/*About Me*/

.containerFlex{
    display: flex;
}

.img {
    max-width: 100%;
}

.grillStory, .ourTeam, .card-title {
    color: #5F002B;
    font-weight: bold;
    font-family: fugazOne;
    font-size: smaller;
   
}

.titleAbout{
    color: #5F002B;
    font-weight: bold;
    font-family: fugazOne;
    font-size: xx-large;
    margin-bottom: -2px;
}

.grillStoryText, .card-text {
    color: #5F002B;
    font-family: montaukRegular;
    font-size: 14px;
    
}
.height100{
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
}

.story {
    background-color: white;
}

/*Our Team*/

.ourTeam {
    background-color: white;
    color: #5F002B;
    font-size: 30px;
}

/*Footer*/

/* .footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding-left: 5%;
    
} */

.footerText, .logoText {
    font-family: montaukRegular;
    color: #5F002B;
    font-size: 20px;
}

.logo-container {
    width: 35%;
    display: block;
    height: auto;
}

.logo-container img{
    width: 150px;
    height: auto;
}
/*Our Catering Service*/

.cateringService {
    background-color: white;  
}


/* ==========================================Victor bottom css============================================================================= */

#colorNav{
    color:rgba(95, 0, 43, 1);
    font-family: BoldMon;
    font-size: 24px;
}
.title{
    font-family: BoldMon;
    color:rgba(95, 0, 43, 1);
    background-color: rgba(255, 255, 255, 1);
    margin-left: -10px;
    margin-right: -10px;

}

#footerStyle{
    font-family: RegularMOn;
    color:rgba(95, 0, 43, 1);
}


#image{
    border: 5px solid white;

  

}
.colImage{
    margin-bottom: 10px;
    
}
/*===============================================================================================================================================*/
.card{
    padding: 0;


}

.mainContainer{
    padding:0;
}
.cardPadding{
    padding:0;
}

.largeText{
    font-family: RegularMon;
    color: rgba(95, 0, 43, 1);
}

.smallText{
    font-family: RegularMon;
    color: rgba(95, 0, 43, 1);
    font-size: small;
}

hr{
    color:rgba(95, 0, 43, 1);
    background-color: rgba(95, 0, 43, 1);
    height: 2px;
}

.margin1{
    margin-bottom: -12px;
}
.margin2{
    margin-bottom: -20px;
}
.margin3{
    margin-top:-22px;
}#colorNav{
    color:rgba(95, 0, 43, 1);
    font-family: BoldMon;
    font-size: 24px;
}
.title{
    font-family: BoldMon;
    color:rgba(95, 0, 43, 1);
    background-color: rgba(255, 255, 255, 1);
    margin-left: -10px;
    margin-right: -10px;

}

#footerStyle{
    font-family: RegularMOn;
    color:rgba(95, 0, 43, 1);
}


#image{
    border: 5px solid white;

  

}
.colImage{
    margin-bottom: 10px;
    
}
/*===============================================================================================================================================*/
.card{
    padding: 0;


}

.mainContainer{
    padding:0;
}
.cardPadding{
    padding:0;
}

.largeText{
    font-family: RegularMon;
    color: rgba(95, 0, 43, 1);

}

.smallText{
    font-family: RegularMon;
    color: rgba(95, 0, 43, 1);
    font-size: small;
}

hr{
    color:rgba(95, 0, 43, 1);
    background-color: rgba(95, 0, 43, 1);
    height: 2px;
}

.margin1{
    margin-bottom: -12px;
}
.margin2{
    margin-bottom: -20px;
}
.margin3{
    margin-top:-22px;
}
.footerPad{
    padding:0;
    margin: 0;
}


/*============================================Demitri's CSS===================================================================================*/
.heroImage{
    background-position: center;
    background-size: cover;
    align-items: center;
    width: 100%;
}
.homeImg{
    background-position: center;
    background-size: cover;
    align-items: center;
    width: 100%;
    padding-top: 12%;
}
.marginTop{
    margin-top: 5%;
    padding-left: 8%;
}
.single{
    background-position: center;
    background-size: cover;
    align-items: center;
    width: 100%;
}
.rectangle{
    width: 100%;
    height: 100%;
    background-color: white;
}
.cLogo{
    width: 100px;
    height: 32px;
}
.paddingR{
    padding-right: 8.25%;
}
.paddingR2{
    padding-right: 8.50%;
}
.paddingL{
    padding-left: 12.5%;
}
.paddingL2{
    padding-left: 9.25%;
}
.paddingTop{
    padding-top: 5%;
}