/*Font*/

@font-face {
    font-family: 'fugazOne';
    src: url(../font/FugazOne-Regular.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'montaukBold';
    src: url(../font/MontaukBold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'montaukItalic';
    src: url(../font/MontaukItalic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'montaukLight';
    src: url(../font/MontaukLight.ttf);
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'montaukRegular';
    src: url(../font/MontaukRegular.ttf);
    font-style: normal;
    font-weight: normal;
}

/*Header and Logo*/

body, .navbar {
    background-image: url('../image/bgtexture.jpg');
}

.navText {
    font-family: fugazOne;
    font-size: 20px;
    list-style: none;
    color: #5F002B;
}

/*About Me*/

.container {
    display: flex;
}

.img {
    max-width: 100%;
}

.grillStory, .ourTeam, .card-title {
    color: #5F002B;
    font-weight: bold;
    font-family: fugazOne;
   
}

.grillStoryText, .card-text {
    color: #5F002B;
    font-family: montaukRegular;
    font-size: 14px;
    
}
.height100{
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
}

.story {
    background-color: white;
}

/*Our Team*/

.ourTeam {
    background-color: white;
    color: #5F002B;
    font-size: 30px;
}

/*Footer*/

.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding-left: 5%;
    
}

.footerText, .logoText {
    font-family: montaukRegular;
    color: #5F002B;
    font-size: 20px;
}

.logo-container {
    width: 35%;
    display: block;
    height: auto;
}

.logo-container img{
    width: 150px;
    height: auto;
}
/*Our Catering Service*/

.cateringService {
    background-color: white;  
}